node_modules
npm-debug.log
.git
.gitignore
.ruff_cache
.pytest_cache
alembic/versions
.DS_Store
*.pyc
__pycache__
*.pyo
*.pyd
.pytest_cache
.coverage
htmlcov
*.egg-info
dist
build
.pytest_cache
.vscode
.idea
*.swp
*.swo
*~
promo/
